:root {
    --grey-color: #222222;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: black;
    color: white;
}

.header-bar {
    display: flex;
    margin: 0.5vw;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}
a:active,
a:hover,
a:visited{
    color: white;
}

header{
    position: fixed;
    top: 0.5vh;
    right: 0.5vw;
    z-index: 150;
}
header .btn {
    display: inline-block;
    background-color: var(--grey-color);
    font-size: 1.7vh;
    margin-left: 0.2vw;
    border-radius: 1vh;
}
header a{
    display: inline-block;
    padding: 0.4vw;
    border-radius: 1vh;
}
main {
    margin: 8.5vh 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 600px;
    min-height: 950px;
}
.block-img {
    position: relative;
    margin: 0.45vh 0.3vw;
    height: 175px;
    width: 250px
}


.block-img-fullname {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(211,211,211,0.4);
    padding: 0.35vh 0.35vw;
}
.footer-bar {
    display: flex;
    z-index: 555;
    position: fixed;
    padding-left: 8px;
    bottom: 0;
    height: 70px;
    width:100%;
    background-color: var(--grey-color);
    justify-content: space-between;
}

.left-bar,
.right-bar {
    display: flex;
    flex-direction: space-around;
    align-items: center;
    column-gap: 0.8vw;
}

.vertical {
    display: flex;
    justify-content: center;
    row-gap: 7px;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.size-27 {
    font-size: 27px;
}
.footer-bar .left-bar > i {
    font-size: 12px;
}
.center-bar {
    height: 54px;
    width: 20px;
    background-color: burlywood;
}
.footer-bar .btn {
    height: 100%;
    background-color: #4a4a4ad3;
    padding: 0;
    text-align: center;
    width: 7%;
    min-width: 100px;
}
span.red {
    display: inline-block;
    color: red;
    font-size: 14px;
    line-height: 70px;
}