:root {
    --grey-color: #4A4A4A;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: black;
    color: white;
}

.header-bar {
    display: flex;
    margin: 0.5vw;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}
a:active,
a:hover,
a:visited{
    color: white;
}

header .btn {
    display: inline-block;
    background-color: var(--grey-color);
    font-size: 1.7vh;
    margin-left: 0.2vw;
    border-radius: 1vh;
}
header a{
    display: inline-block;
    padding: 0.4vw;
    border-radius: 1vh;
}
main {
    margin: 4.5vh 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 600px;
    min-height: 950px;
}
.block-img {
    position: relative;
    margin: 0.45vh 0.3vw;
    height: 175px;
    width: 250px
}


.block-img-fullname {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(211,211,211,0.4);
    padding: 0.35vh 0.35vw;
}
.footer-bar {
    display: flex;
    position: fixed;
    padding: 8px;
    bottom: 0;
    height: 60px;
    width:100%;
    background-color: var(--grey-color);
    justify-content: space-between;
}
.left-bar {
    display: flex;
    background-color: blue;
    align-items: baseline;
      justify-content: center;
}
.vertical {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.vertical i {
    font-size: 28px;
   
}